.slider__list {
  position: absolute;
  left: 0;
  top: 0;
  box-sizing: border-box;
  padding: var(--clear);
  margin: var(--clear);
  display: flex;
  list-style-type: none;
  overflow: hidden;
  transition: left 1s linear;
}