.slider__cell {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
  width: 420px;
}

.slider__cell:nth-of-type(n+2) {
  margin-left: 24px;
}

/* .slider__cell:nth-of-type(n+4) {
  display: none;
} */