/* Аутсорс */
@import url('../vendor/normalize.css');
@import url('../vendor/fonts.css');

/* Корень */
@import url('../blocks/root/root.css');

/* Страница */
@import url('../blocks/page/page.css');

/* Header */
@import url('../blocks/header/header.css');
@import url('../blocks/header/__nav/header__nav.css');
@import url('../blocks/header/__list/header__list.css');
@import url('../blocks/header/__link/header__link.css');
@import url('../blocks/header/__item/header__item.css');
@import url('../blocks/header/__nav-btn/header__nav-btn.css');
@import url('../blocks/header/__title/header__title.css');
@import url('../blocks/header/__dots-container/header__dots-container.css');
@import url('../blocks/header/__subtitle/header__subtitle.css');
@import url('../blocks/header/__service-link/header__service-link.css');
@import url('../blocks/header/__dots-container/_place/header__dots-container_place_achievements.css');
@import url('../blocks/header/__dots-container/_place/header__dots-container_place_adv.css');

/* Description */
@import url('../blocks/description/description.css');
@import url('../blocks/description/__cell/description__cell.css');
@import url('../blocks/description/__title/description__title.css');
@import url('../blocks/description/__text/description__text.css');

/* Content */
@import url('../blocks/content/content.css');

/* Content */
@import url('../blocks/content/content.css');
@import url('../blocks/content/__achievements/content__achievements.css');


/* Achievements */
@import url('../blocks/achievements/achievements.css');
@import url('../blocks/achievements/__title/achievements__title.css');
@import url('../blocks/achievements/__text-block/achievements__text-block.css');
@import url('../blocks/achievements/__text/achievements__text.css');

/* Cells */
@import url('../blocks/cells/cells.css');
@import url('../blocks/cells/_above/cells_above.css');
@import url('../blocks/cells/_below/cells_below.css');
@import url('../blocks/cells/__text/cells__text.css');
@import url('../blocks/cells/__cell/cells__cell.css');

/* Slider */
@import url('../blocks/slider/slider.css');
@import url('../blocks/slider/__wrapper/slider__wrapper.css');
@import url('../blocks/slider/__list/slider__list.css');
@import url('../blocks/slider/__arrow-left/slider__arrow-left.css');
@import url('../blocks/slider/__arrow-right/slider__arrow-right.css');
@import url('../blocks/slider/__img/slider__img.css');
@import url('../blocks/slider/__description/slider__description.css');
@import url('../blocks/slider/__cell/slider__cell.css');

/* Arrow */
@import url('../blocks/arrow/arrow.css');
@import url('../blocks/arrow/_place/arrow_place.css');

/* Advantages */
@import url('../blocks/advantages/advantages.css');
@import url('../blocks/advantages/__adv/advantages__adv.css');

/* Adv */
@import url('../blocks/adv/adv.css');
@import url('../blocks/adv/__col/adv__col.css');
@import url('../blocks/adv/__title/adv__title.css');
@import url('../blocks/adv/__icon-cont/adv__icon-cont.css');
@import url('../blocks/adv/__desc/adv__desc.css');
@import url('../blocks/adv/__item/adv__item.css');
@import url('../blocks/adv/__col-img/adv__col-img.css');
@import url('../blocks/adv/__col-sld/adv__col-sld.css');
@import url('../blocks/adv/__col-sld-text/adv__col-sld-text.css');

/* Service */
@import url('../blocks/service/service.css');
@import url('../blocks/cards/cards.css');
@import url('../blocks/service/__title/service__title.css');
@import url('../blocks/button/buttons.css');
@import url('../blocks/button/__button/buttons__button.css');
@import url('../blocks/button/__button/_bg/buttons__button_bg_red.css');
@import url('../blocks/button/__button/_bg/buttons__button_bg_trans.css');

/* Cards */
@import url('../blocks/cards/cards.css');
@import url('../blocks/cards/__card/cards__card.css');
@import url('../blocks/cards/__icon/cards__icon..css');
@import url('../blocks/cards/__title/cards__title.css');
@import url('../blocks/cards/__text/cards__text.css');
@import url('../blocks/cards/__btn/cards__btn.css');

/* Asks */
@import url('../blocks/asks/asks.css');
@import url('../blocks/asks/__title/asks__title.css');
@import url('../blocks/asks/__dots/asks__dots.css');
@import url('../blocks/asks/__form/asks__form.css');
@import url('../blocks/asks/__contact/asks__contact.css');
@import url('../blocks/asks/__name/form__name.css');

/* Form */
@import url('../blocks/form/form.css');
@import url('../blocks/form/__contact/form__contact.css');
@import url('../blocks/form/__section-question/form__section-question.css');
@import url('../blocks/asks/__form/asks__form.css');
@import url('../blocks/form/__tel/form__tel.css');
@import url('../blocks/form/__section-btn/form__section-btn.css');
@import url('../blocks/form/__textarea/form__textarea.css');
@import url('../blocks/form/__sm-list/form__sm-list.css');
@import url('../blocks/form/__sm-link/form__sm-link.css');
@import url('../blocks/form/__sm-item/form__sm-item.css');
@import url('../blocks/form/__btn/form__btn.css');
@import url('../blocks/form/__two-btn/form__two-btn.css');


/* Communication */
@import url('../blocks/communication/communication.css');
@import url('../blocks/communication/__address/communication__address.css');
@import url('../blocks/communication/__address-text/communication__address-text.css');

/* Footer */
@import url('../blocks/footer/footer.css');
@import url('../blocks/footer/__content/footer__content.css');
@import url('../blocks/footer/__copyright/footer__copyright.css');
@import url('../blocks/footer/__list/footer__list.css');
@import url('../blocks/footer/__item/footer__item.css');
@import url('../blocks/footer/__link/footer__link.css');

/* Анимация бегущей строки */
@keyframes stroka {
  0% {
    left: 100%;
  }
  100% {
    left: -50%;
  }
}

/* Строка в соответствии с заданием (пункт 8) */
.STROKA {
  position: fixed;
  display: flex;
  align-items: center;
  bottom: 0;
  min-width: 100%;
  height: 40px;
  background-color: orange;
  color: black;
  z-index: 10;
  overflow: hidden;
}

.STROKA__text {
  position: absolute;
  font-size: 36px;
  height: 50px;
  display: inline;
  margin: var(--clear);
  animation: stroka 12s linear infinite;
}