.adv__col-sld-text {
  margin: var(--clear);
  padding: var(--clear);
  max-width: 422px;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: .05em;
  text-transform: uppercase;
}